<div class="container col-12">
    <div class="row footer-div">
        <div class="faqs-footer col-6">
            <h5>Preguntas frecuentes</h5>
            <a href="" class="col-12 faq">¿Cómo comprar?</a><br>
            <a href="" class="col-12 faq">Medios de pago</a><br>
            <a href="" class="col-12 faq">Métodos de envío</a>

        </div>
        <div class="rrss-footer col-6">
            <h5 class="col-12">Seguinos en nuestras redes sociales</h5>
            <a href="" class="rrss facebook"><i class="fab fa-facebook"></i></a>
            <a href="" class="rrss instagram"><i class="fab fa-instagram"></i></a>
            <a href="" class="rrss whatsapp"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</div>