<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <header>
    <%- include('./partials/header') %>
  </header> 
  <body>
      <div class="row col-12">
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>
        <div class="product-home col-3">
          <a href="/products" class="a-products-home"><img class="col-9" src="/images/productos/Almendras.png" alt=""></a>
          <a href="/products" class="a-products-home"><p class="col-12 product-name">Almendras</p><br></a>
          <p class="col-12 product-old-price">$900</p>
          <a href="/products" class="a-products-home"></a><p class="col-12 product-price">$670</p></a>
        </div>  
      </div>
    </div>
    <div class="container">
      <div class="row pagination-div ">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
  <footer>
    <%- include('./partials/footer') %> 
  </footer>
</html>
