<head>
    <%- include('../partials/head') %>
  </head>
  <header>
    <%- include('../partials/header') %>
  </header>
  <body>
    <div class="container">
      <div class="row login-row col-12">
        <div class="col-5 login-div">
          <div class="nav-form">
            <ul class="nav nav-pills">
              <li class="nav-item-form">
                <a class="nav-link login-a" href="/users/login">Iniciar sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link login-a-reg" href="/users/register">Registrarme</a>
              </li>
            </ul>
          </div>
          <form action="/users/login" method="POST" class="login-form col-12">
            <label for="email" class="col-12 label-login">Email<br><input class="login-form-input col-12" type="text"></label><br>
            <label for="password" class="col-12 label-login">Contraseña<br><input class="login-form-input col-12" type="password"></label>
            <label for="" class="remember-login">Recordame</label><input type="checkbox" value="recordame" name="recordame" checked><br>
            <button  class="login-btn col-6">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <%- include('../partials/footer') %>
  </footer>